*{
    background-color: #395668;
    color: white;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    width: 100%;
}

.progress-container {
position: absolute;
bottom: 0;
left: 0;
width: 100%;    
height: 4px;
background: #334d5e;
}

/* The progress bar (scroll indicator) */
.progress-bar {
height: 4px;
background: #c2d995;
width: 0%;
}

.nav{
    background-color: #334d5e;
}

.nav-link{
    color: #9bae77;
    transition : all 0.5s;
}

.nav-link:hover{
    color: #c2d995;
    transition : all 0.5s;
}

.navbar-toggler{
    border-color: #c2d995;
    box-shadow: none;
}

.navbar-toggler-icon{
    background-color: #334d5e;
    background-image: url("../Images/menu.svg");
    box-shadow: none;
}

.navbar-toggler-icon-bg{
    escape-svg(#c2d995);
}

.marge-top{
    height: 1000px;
    width: 1000px;
    /* background-color: red; */
    /* background-image: url("/Images/25549.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right; */
}

#bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-light{
    background-color: #334d5e !important;
}

.marge-top .name{
    position: absolute;
    left: calc(50% - 3em);
    top: 35%;

    color: white;
    background-color: #395668;
    font-weight: bold;
    font-size: 3em;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-color: #c2d995;
}

hr{
    width: 75%;
    margin-left: 12.5%;
    height: 45px;
}

h1{
    color: #c2d995;
}

h3{
    color: #c2d995;
}

h4{
    color: #c2d995;
}

#a-propos{
    position: relative;
    margin-bottom: 10px;
}

#competence{
    width: 100%;
}

.icon-scroll,.icon-scroll:before{
    position: absolute;
    left: 50%;
  }
  .icon-scroll{
    background-color: #395668;
    width: 40px;
    height: 70px;
    margin-left: -20px;
    top: 80%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 2px #c2d995;
    border-radius: 25px;
  }
  .icon-scroll:before{
    content: '';
    width: 8px;
    height: 8px;
    background: white;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
  
  @keyframes scroll{
    0%{
      opacity: 1;}
    45%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: translateY(46px);}
  }






/* Time line */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 8px;
        border-radius: 8px;
        background-color: #c2d995;
        left: 50%;
        margin-left: -1.5px;
        z-index: 1;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            background-color: #334d5e;
            float: left;
            border: 2px solid #c2d995;
            border-radius: 8px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #c2d995;
                border-right: 0 solid #c2d995;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 2;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.badge-1{
    background-color: #999999;
}
.badge-2{
    background-color: #999999;
}
.badge-3{
    background-color: #999999;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    background-color: #334d5e;
}

.timeline-body, .timeline-body h6{
    background-color: #334d5e;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
    background-color: #334d5e;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

.bg-git{
    background-color: #334d5e;
    transition: all 0.5s;
}

.github{
    color: #fff;
    border-color: #272b32;
    transition: all 0.5s;
}

.github:hover{
    color: #fff;
    background-color: #272b32;
    border-color: #272b32;
    transition: all 0.5s;
}

.github:hover .bg-git{
    color: #fff;
    background-color: #272b32;
    border-color: #272b32;
    transition: all 0.5s;
}

.github:focus{
    color: #fff;
    background-color: #272b32;
    border-color: #272b32;
    box-shadow: none;
    transition: all 0.5s;
}

.github:focus .bg-git{
    color: #fff;
    background-color: #272b32;
    border-color: #272b32;
    box-shadow: none;
    transition: all 0.5s;
}

.btn{
    border-width: 2px;
}

.btn-doc{
    color: #c2d995;
    border-color: #c2d995;
}

.btn-doc:hover{
    color: #fff;
    background-color: #9bae77 !important;
    border-color: #9bae77 !important;
}

.btn-doc:focus{
    color: #fff;
    background-color: #9bae77 !important;
    border-color: #9bae77 !important;
}

html, body {
    margin: 0;
    padding: 0;
}

.background {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 0;
}

.lien{
    color: #9bae77;
    text-decoration: none;
    transition: all 0.2s;
}

.lien:hover{
    color: #c2d995;
    text-decoration: underline;
    transition: all 0.2s;
}


.card{
    border: 4px solid #c2d995;
    border-radius: 8px;
}

.card-body{
    background-color: #334d5e;
    border-radius: 4px;
}

.card-text{
    background-color: #334d5e;
}

.card-title{
    background-color: #334d5e;
}

.accordion{
    --bs-accordion-border-color: #c2d995;
    --bs-accordion-btn-focus-border-color: #c2d995;
    --bs-accordion-btn-focus-box-shadow: #c2d995;
    --bs-accordion-active-color: #c2d995;
    --bs-accordion-btn-color: #c2d995;
    --bs-accordion-btn-bg: #c2d995;
    --bs-accordion-btn-icon: url("../Images/chevron-down.svg");
    --bs-accordion-btn-active-icon: url("../Images/chevron-up.svg");
}

.accordion-header{
    background-color: #c2d995;
}

.accordion-body{
    background-color: #334d5e;
    border-color: #c2d995;
}

.accordion-button{
    background-color: #334d5e;
    color: white;
    border-color: #c2d995;
}

.accordion-button::after{
    color: #c2d995;
}

.accordion-button:not(.collapsed){
    background-color: #334d5e;
    color: white;
    border-color: #c2d995;
}

.accordion-button:not(.collapsed)::after{
    color: #c2d995;
}

.img-accordion{
    width: 50%;
    height: 75%;
}

.btn-marge{
    margin-bottom: 1em;
}

.btn-tableau{
    align-items: center;
    margin-top: 1em;
    color: #c2d995;
    border-color: #c2d995;
}

.btn-tableau:hover{
    color: #fff;
    background-color: #9bae77 !important;
    border-color: #9bae77 !important;
}

.btn-tableau:focus{
    color: #fff;
    background-color: #9bae77 !important;
    border-color: #9bae77 !important;
}

.bottom-footer{
    height: 100%;
    padding: 10px 0;
}

.bottom-footer a i{
    font-size: 2em;
}

.bottom-footer a .bi-github{
    margin-right: 1%;
}

.bottom-footer a .bi-linkedin{
    margin-left: 1%;
}

.bg-social{
    background-color: #334d5e;
}

.social{
    background-color: #334d5e;
}

.social:link{
    color: #fff;
    text-decoration: none;
}
.social:visited{
    color: #fff;
    text-decoration: none;
}
.social:hover{
    color: #fff;
    text-decoration: none;
}
.social:active{
    color: #fff;
    text-decoration: none;
}

.bottom-footer{
    background: #334d5e;
}